.footer {
    background-color: rgb(255, 255, 255);

    &-contenedor {

        &-titulo {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 1em;
            color: #000000;
            text-align: center;
            margin: 0;
            padding: 4em 0 1.5em;
        }

        &-iconos {
            display: flex;
            justify-content: center;

            &-icono {
                font-size: 1.2em;
                padding: 0 .5em;
                color: rgb(107,121,137);
            }
        }

        &-pie {
            text-align: center;
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: .8em;
            color: #000000;
            ;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            padding: 3em 0 2em;
        }
    }
}

.oscuro{
    background-color: rgb(55, 56, 60);
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 1024px) {
    .footer {
        &-cover {
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 3em 0;
            max-width: 80%;
            margin: auto;
        }

        &-contenedor {
            display: flex;
            align-items: center;

            &-iconos {
                padding-left: 1em;

                :hover {
                    color: rgb(87, 46, 229);
                }
            }

            &-titulo {
                font-size: .8em;
                padding: 0;
            }

            &-pie {
                font-size: .8em;
                line-height: .8em;
                padding: 0;
            }
        }
    }
}